

<!-- <p>
  #d83f67
  #2a13bd
  #44318d
  ##a4b3b6
  #9781b8 
 </p>
<div class="square" style="background-color:#d83f67;" ></div> 
<div class="square" style="background-color:#2a13bd;" ></div>
<div class="square" style="background-color:#44318d;" ></div>
<div class="square" style="background-color:  #a4b3b6;" ></div>
<div class="square" style="background-color:  #9781b8;" ></div>
<div class="square" style="background-color: #010d14;" ></div>
<br> <br> <br> 
<p>
#25274d
#464866
#aaabb8
#2e9cca
#29648a
</p>
<div class="square" style="background-color:#25274d;" ></div> 
<div class="square" style="background-color:#464866;" ></div>
<div class="square" style="background-color:#aaabb8;" ></div>
<div class="square" style="background-color:  #2e9cca;" ></div>
<div class="square" style="background-color: #29648a;" ></div>
<div class="square" style="background-color: #010d14;" ></div> -->
<style>
.square {
  height: 50px;
  width: 50px;
 float: left;
}
</style>

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
