ok here we go
FUTURE LOGIN PAGE

<p>
  #d83f67
  #2a13bd
  #44318d
  ##a4b3b6
  #9781b8
</p>
<div class="square" style="background-color:#d83f67;" ></div> 
<div class="square" style="background-color:#2a13bd;" ></div>
<div class="square" style="background-color:#44318d;" ></div>
<div class="square" style="background-color:  #a4b3b6;" ></div>
<div class="square" style="background-color:  #9781b8;" ></div>
<div class="square" style="background-color: #010d14;" ></div>
<br> <br> <br> 
<p>
#25274d
#464866
#aaabb8
#2e9cca
#29648a
</p>
<div class="square" style="background-color:#25274d;" ></div> 
<div class="square" style="background-color:#464866;" ></div>
<div class="square" style="background-color:#aaabb8;" ></div>
<div class="square" style="background-color:  #2e9cca;" ></div>
<div class="square" style="background-color: #29648a;" ></div>
<div class="square" style="background-color: #010d14;" ></div>
<style>
.square {
  height: 50px;
  width: 50px;
 float: left;
}
</style>


